
@{
    ViewBag.Title = "Pictures Upload";
}

<h2>Picture Upload</h2>

@using (Ajax.BeginForm("Upload", "Picture", new AjaxOptions { HttpMethod = "POST" }, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <input type="file" name="file">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-info">Send</button>
            <a href="/Pictures/Index" class="btn btn-default">Back</a>
        </div>
    </div>

}