@{
    ViewBag.Title = "Home Page";
}
<br,>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <h2>
                <a href="/Files/Index">FileUpload</a>
            </h2>
        </div>
        <div class="col-sm-6">
            <h2>
                <a href="/Pictures/Index">ImageUpload</a>
            </h2>
        </div>
    </div>
</div>

